@model IEnumerable<Projeto_Biblioteca.WEB.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reserva_Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devolucao_Registro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva_Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devolucao_Registro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Genero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Genero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Genero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
